configuration {
    /* --- 基础行为 --- */
    modi: "combi,drun,run,power-menu:rofi-power-menu";
    combi-modi:"drun,calc,emoji";
    show-icons: true;
    icon-theme: "Papirus";
    terminal: "alacritty";
    font: "JetBrainsMono Nerd Font 12";
    
    /* --- 搜索逻辑 --- */
    matching: "fuzzy"; 
    scroll-method: 0;
    disable-history: false;
    spot:true;
    sorting-method: "fzf";
    
    /* --- 显示设置 --- */
    drun-display-format: "{icon} {name}";
    display-combi: " 💻 All ";
    display-drun: " 📦 Apps ";
    display-run: " >_ Run ";
}

@theme "rounded-nord-dark.rasi"
